<p id="notice"><%= notice %></p>

<h1>Listing Meets</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meets.each do |meet| %>
      <tr>
        <td><%= meet.content %></td>
        <td><%= meet.token %></td>
        <td><%= link_to 'Show', meet %></td>
        <td><%= link_to 'Edit', edit_meet_path(meet) %></td>
        <td><%= link_to 'Destroy', meet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meet', new_meet_path %>
